.App {
  text-align: center;
  font-family: Arial, Arial, Helvetica, sans-serif;
  padding-top: 20px; /* fixed the padding */
  box-sizing: border-box;
  font-size: small;
  color: rgb(141, 141, 219);
  background-image: url("./assets/background3.jpg");
  background-size: cover;        /* Ensures the image covers the entire background */
  background-position: center;   /* Centers the image */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  background-attachment: fixed;  /* Makes the background image fixed on scroll */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}
